/* pagination */
.page-link {
  background-color: #f9f9f9 !important;
  color: #272727 !important;
  border-radius: 10px !important;
  border: solid 1px 272727 !important;
  &:hover{
    background-color: #272727 !important;
  color: white !important;
  border: solid 1px 272727 !important;
  }
}
/* end pagination */