.card-item {
    width: 100%;
    border-radius: 8px;
    border: none;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 5px;
}

.card-title {
    color: #555550;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
    text-align: right;
}

.card-price {
    color: #272727;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 28px;
}

.card-currency {
    color: #555550;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 24px;
}

.card-rate {
    color: #ffc107;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
}

.wishlist svg{
    cursor: pointer;
    font: 40px;
}
.wishlist svg:hover{
    transform: scale(1.1);
}