body {
  font-family: 'Noto Sans', sans-serif;
}

.light {
  background-color: white;
  color: #27374D;
}

.first {
  color: #27374D;
}

.first-bg {
  background-color: #27374D;
}


.second {
  color: #526D82;
}

.second-bg {
  background-color: #526D82;
}

.third {
  color: #9DB2BF;
}

.third-bg {
  background-color: #9DB2BF;
}



.fourth {
  color: #DDE6ED;
}

.fourth-bg {
  background-color: #DDE6ED;
}

img {
  object-fit: contain;
}

/* Style */
body {
  margin: 0;
  font-family: "Almarai", sans-serif;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.font {
  background-color: #f9f9f9;
}

.hieght-search {
  height: 80vh;
}

.logo {
  height: 46px;
  width: 50px;
}

.login-img {
  height: 20px;
  width: 20px;
}












/* login and register style */

.user-input {
  box-sizing: border-box;
  height: 37px;
  width: 375px;
  border: 1px solid #979797;
  border-radius: 8px;
}

.title-login {
  color: #555550;

  font-size: 21px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 28px;
  text-align: right;
}

.btn-login {
  height: 46px;
  width: 374px;
  border-radius: 9px;
  border: none;
  color: white;
  background-color: #272727;
}

.btn-login:hover {
  color: rgb(206, 204, 204);
}

/* end login and register */



/* admin style  */

.admin-content-text {
  color: #222;
  font-size: 21px;
  font-weight: 800;
  letter-spacing: 0;
  margin: 5px 0;
}

.item-delete-edit {
  color: #979797;

  font-size: 16px;
  letter-spacing: 0;
  line-height: 30px;
  text-align: right;
  cursor: pointer;
}

.text-form {
  color: #979797;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}

.input-form {
  height: 37px;
  width: 100%;
  border: 1px solid #979797;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.input-form-area {
  width: 100%;
  border: 1px solid #979797;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.select {
  box-sizing: border-box;
  // height: 40px;
  padding: 5px;
  border: 1px solid #979797;
  border-radius: 8px;
}

.btn-save {
  border: none;
  color: white;
  height: 46px;
  width: 150px;
  border-radius: 9px;
  background-color: #272727;
}

.btn-save:hover {
  color: rgb(164, 164, 164);
}

.btn-a {
  border: none;
  color: white;
  height: 45px;
  border-radius: 9px;
  background-color: #272727;
}

.btn-a:hover {
  color: rgb(164, 164, 164);
}

/* end admin  */



/* user order */
.user-order {
  height: 100%;
  width: 100%;
  border-radius: 7px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(151, 151, 151, 0.5);
}

.order-title {
  color: #272727;

  font-size: 16px;
  font-weight: bold;
}

.stat {
  color: #979797;
  font-family: Cairo;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 30px;
  text-align: right;
}

/* end user order */

/* user Address */

.user-address-card {
  width: 100%;
  border-radius: 7px;
  background-color: #ffffff;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.btn-add-address {
  border: none;
  height: 50px;
  width: 100%;
  color: white;
  border-radius: 9px;
  background-color: #272727;
}

/* user address */

/* user card data */
.user-data {
  height: 270px;
  width: 100% !important;
  border-radius: 7px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(151, 151, 151, 0.5);
}

/* end user data */
// Start Password eye 


.password-label {
  position: relative;

  .eye {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .text-muted {
    p {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}

// Side Bar Style
$tablet: 768px;

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

.sidebar {
  width: 100%;
  border-radius: 21px;
  background-color: #ffffff;

  .sidebar-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    a {
      text-decoration: none;

      .admin-side-text {
        color: #272727;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 20px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        width: 100%;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        svg {
          color: #007bb8;
          margin-left: 5px;
        }

        &:hover {
          background-color: #272727;
          color: white;
        }
      }
    }

    @include tablet {
      flex-direction: row;
    }


  }
}

// user product item
.user-product-item {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
}


// Add Category And Brand upload photo 
#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}